<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       *{
            font-size: 20px;
        }

        #msgDisplay{
            padding: 0;
            width: 800px;
            height: 89vh;
            /* height: auto; */
            margin: 0 auto;
            outline: 2px solid #eeee;
            overflow: hidden;
        }

        #msgForm{
            display: flex;
          max-width: 800px;
          margin: 0 auto;
        }
        input{
             width: 730px;
            margin: 0 auto;
            font-size: 20px;
        }
        li{
            list-style: none;
            padding: 5px !important;
            margin: 0;
            width: 50% !important;
            margin-bottom: 3px;
        }
      
        .outgoing{
            background-color: #555;
            color: #fff;
            margin-left: auto;
        }

        .incomming{
            background-color: #e8e8e8;
            margin-right: auto;
            text-align: left;
        }

    </style>
</head>
<body>
    <h1>chat room</h1>
    <ul class="container" id="msgDisplay">
        <div class="typing"></div>
    </ul>
    <form id="msgForm">
        <input type="text" id="msgInput" name="msgInput">
        <button>Send</button>
    </form>

    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket = io() // automatically connects to socket of server
        const msgContainer = document.getElementById('msgDisplay')
        const form = document.getElementById('msgForm')
        const inputText = document.getElementById('msgInput')
        const typingSign = document.querySelector('.typing')



let sender = null;


// joining
         socket.on('join', username =>{
             console.log(username)
         })

         socket.on('typing', typer => {
            console.log(typer, ' is typing')
         })

        socket.on('receive message', (message)=>{
            sender = message.sender
            displayMessage(message.sender, message.msg, 'incomming')
        })


        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            displayMessage('me',inputText.value, 'outgoing')
            const message = inputText.value
            socket.emit('send massage', message)
            inputText.value = ''
        })

        // on typing 
        inputText.addEventListener('input', (e)=>{
            e.preventDefault()
            const typer = sender
            socket.emit('typing', typer)
        })

        function displayMessage(me, msg, type){
            const li = document.createElement('li')
            li.classList.add(type)
            li.innerHTML =`<strong>${me}:</strong> ${msg}`
            msgContainer.appendChild(li)
        }
        
    </script>
</body>
</html>