<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        *{
            font-size: 20px;
        }
        .msgContainer{
            height: 400px;
            border-radius: 5px;
            background-color: aliceblue;
        }

     </style>
</head>
<body>

    <h1><%= loggedinUser.firstname  %> with <%= receiver.firstname %></h1>
    <ul class="msgContainer" id="messages">
        <p class="joiningAlert"></p>
        <div class="typing"></div>
    </ul>
    <form id="privateMessageForm">
        <input type="text" id="input" name="input">
        <button type="submit">Send</button>
    </form>
    

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/client.js"></script>

    <script defer>
        const reciepientId = `<%= receiver.id %>`
        console.log(reciepientId)
    </script>
</body>
</html>