*{
    font-size: 20px;
}
main{
    max-width: 1335px;
    width: auto;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}
.container{
    width:60%;
    margin: 0 auto;
    position: relative;
}

.left,.right{
width: 20%;
margin: 100px auto;
  
}

.left{
    background: #d6d4d4;
    outline: 2px solid #efefef;
}

.right{
    background: #d6d4d4;
    outline: 2px solid #efefef;
}



.logoutBtn{
    position: absolute;
    right: 10px;
    top: 10px;
}

#profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 3px solid rgb(152, 152, 155);
}


img.descriptionImage{
    max-width: 100%;
    width: auto;
    max-height: 500px;
    height: auto;
    border-radius: 5px;
    outline: 2px solid #747070;
}